{% extends "base.html.twig" %}

{% block title %}
	Ajouter un locataire
{% endblock %}

{% block body %}
	<nav class="navbar navbar-expand-lg navbar-light bg-success">
		<div class="container-fluid">
			<a class="navbar-brand" href="{{ path('app_home') }}">AgenceImmobillièreFictive</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarColor03">
				<ul class="navbar-nav me-auto">
					<li class="nav-item">
						<a class="nav-link active" href="{{ path('app_property') }}">Propriétées
							<span class="visually-hidden">(current)</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" href="{{ path('app_tenant') }}">Locataires
							<span class="visually-hidden">(current)</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" href="{{ path('app_payment') }}">Paiements
							<span class="visually-hidden">(current)</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" href="{{ path('app_etat_des_lieux') }}">Etat des lieux
							<span class="visually-hidden">(current)</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" href="{{ path('app_login_logout') }}">Se déconnecter
							<span class="visually-hidden">(current)</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
		<h1 class="mt-5">
			Ajouter un locataire
		</h1>

		{{ form_start(form) }}
		<div class="row">
			<div class="col-md-4">{{ form_row(form.name)}}</div>
			<div class="col-md-4">{{ form_row(form.firstname)}}</div>
		</div>

		<div class="row">
			<div class="col-md-4">{{ form_row(form.monthly_rate)}}</div>
			<div class="col-md-4">{{ form_row(form.account_balance)}}</div>
		</div>

		{{ form_end(form) }}
	</div>

{% endblock %}
