{% extends "base.html.twig" %}

{% block title %}
	Editer une propriétée
{% endblock %}

{% block body %}
	<nav class="navbar navbar-expand-lg navbar-light bg-success">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">AgenceImmobillièreFictive</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarColor03">
				<ul class="navbar-nav me-auto">
					<li class="nav-item">
						<a class="nav-link active" href="#">Utilisateurs
							<span class="visually-hidden">(current)</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" href="{{ path('app_property') }}">Propriétées
							<span class="visually-hidden">(current)</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" href="{{ path('app_tenant') }}">Locataires
							<span class="visually-hidden">(current)</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" href="{{ path('app_payment') }}">Paiements
							<span class="visually-hidden">(current)</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
		<h1 class="mt-5">
			Modifier une propriétée
		</h1>

		{{ form_start(form) }}
		<div class="row mt-5">
			<div class="col-md-4">{{ form_row(form.Title)}}</div>
			<div class="col-md-8">{{ form_row(form.Description)}}</div>
		</div>

		<div class="row">
			<div class="col-md-4">{{ form_row(form.Surface)}}</div>
			<div class="col-md-4">{{ form_row(form.Rooms)}}</div>
			<div class="col-md-4">{{ form_row(form.Bedrooms)}}</div>
		</div>

		<div class="row">
			<div class="col-md-4">{{ form_row(form.Price_charges)}}</div>
			<div class="col-md-4">{{ form_row(form.Rent_price)}}</div>
			<div class="col-md-4">{{ form_row(form.Security_deposit_price)}}</div>
		</div>

		<div class="row">
			<div class="col-md-6">{{ form_row(form.Address)}}</div>
			<div class="col-md-6">{{ form_row(form.Additional_address)}}</div>
		</div>

		<div class="row">
			<div class="col-md-6">{{ form_row(form.City)}}</div>
			<div class="col-md-6">{{ form_row(form.Postal_code)}}</div>
		</div>
		{{ form_end(form) }}
	</div>

{% endblock %}
