{% extends 'base.html.twig' %}

{% block title %}
	Propriétées
{% endblock %}

{% block body %}
	<nav class="navbar navbar-expand-lg navbar-light bg-success">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">AgenceImmobillièreFictive</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarColor03">
				<ul class="navbar-nav me-auto">
					<li class="nav-item">
						<a class="nav-link active" href="#">Utilisateurs
							<span class="visually-hidden">(current)</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" href="{{ path('app_property') }}">Propriétées
							<span class="visually-hidden">(current)</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" href="#">Locataires
							<span class="visually-hidden">(current)</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" href="#">Paiements
							<span class="visually-hidden">(current)</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container mt-5">
		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col">Numéros</th>
					<th scope="col">Titre</th>
					<th scope="col">Description</th>
					<th scope="col">Surface</th>
					<th scope="col">Pièces</th>
					<th scope="col">Chambre</th>
					<th scope="col">Adresse</th>
					<th scope="col">Complément d'adresse</th>
					<th scope="col">Ville</th>
					<th scope="col">Code postal</th>
					<th scope="col">Prix des charges</th>
					<th scope="col">Prix du loyer</th>
					<th scope="col">Prix du dépot de garantie
					</th>
				</tr>
			</thead>

			<tbody>
				{% for property in propertys %}
					<tr class="table-light">
						<th scope="row">{{ property.id }}</th>
						<td>{{ property.title }}</td>
						<td>{{ property.description }}</td>
						<td>{{ property.surface }}</td>
						<td>{{ property.rooms }}</td>
						<td>{{ property.bedrooms }}</td>
						<td>{{ property.address }}</td>
						<td>{{ property.additionaladdress }}</td>
						<td>{{ property.city }}</td>
						<td>{{ property.postalcode }}</td>
						<td>{{ property.pricecharges }}</td>
						<td>{{ property.rentprice }}</td>
						<td>{{ property.securitydepositprice }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<div class="navigation d-flex justify-content-center">
			{{ knp_pagination_render(propertys) }}
		</div>

		<a href="{{ path('app_property_new') }}" class="btn btn-success mt-4 d-flex justify-content-center">
			Ajouter une propriétée
		</a>

	</div>
</div>{% endblock %}
