{% extends "base.html.twig" %}

{% block title %}
	Editer un paiment
{% endblock %}

{% block body %}
	<nav class="navbar navbar-expand-lg navbar-light bg-success">
		<div class="container-fluid">
			<a class="navbar-brand" href="{{ path('app_home') }}">AgenceImmobillièreFictive</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarColor03">
				<ul class="navbar-nav me-auto">
					<li class="nav-item">
						<a class="nav-link active" href="{{ path('app_property') }}">Propriétées
							<span class="visually-hidden">(current)</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" href="{{ path('app_tenant') }}">Locataires
							<span class="visually-hidden">(current)</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" href="{{ path('app_payment') }}">Paiements
							<span class="visually-hidden">(current)</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" href="{{ path('app_etat_des_lieux') }}">Etat des lieux
							<span class="visually-hidden">(current)</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" href="{{ path('app_login_logout') }}">Se déconnecter
							<span class="visually-hidden">(current)</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
		<h1 class="mt-5">
			Récapitulatif des paiments
		</h1>


		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col">Numéros</th>
					<th scope="col">Locataire</th>
					<th scope="col">Propriétée</th>
					<th scope="col">Facture</th>
					<th scope="col">Montant</th>
					<th scope="col">Date de l'opération</th>
					<th scope="col"></th>
					<th scope="col"></th>
				</tr>
			</thead>

			<tbody>
				{% for payment in payments|sort %}
					<tr class="table-light">
						<th scope="row">{{ payment.id }}</th>
						<td>{{ payment.tenant }}</td>
						<td>{{ payment.property }}</td>
						<td>{{ payment.invoice }}</td>
						<td>{{ payment.amount }}</td>
						<td>
							{{ payment.createdAt|date("d/m/Y") }}</td>
						<td>
							<a href="{{ path('app_payment_edit', {id: payment.id}) }}" class="btn btn-warning">
								Editer
							</a>
						</td>
						<td>
							<a href="{{ path('app_payment_bilancompte', {id: payment.id}) }}" class="btn btn-primary">
								Bilan
							</a>
						</td>
						<td>
							<a href="{{ path('app_payment_delete', {id: payment.id}) }}" class="btn btn-danger">
								Supprimer
							</a>
						</td>

					</tr>
				{% endfor %}
			</tbody>
		</table>


	{% endblock %}
